{% extends 'main_page.html' %}
{% block page_name %}
<h1>{{producer.title}}</h1>
{% endblock %}
{% block content %}
<table class="table table-bordered">
  <tr>
    <td>Продукты производства</td>
  </tr>

  <tr>

    <td>
     <table class="table table-bordered">
       <tr>
         <td>id</td>
         <td>Production</td>
       </tr>
       {% for product in products %}
       <tr>
         <td>{{product.id}}</td>
         <td>{{product.title}}</td>
       </tr>
       {% endfor %}
     </table>
    </td>
  </tr>
</table>
{% endblock %}